*~
.DS_Store
*.thy#
FiltersAndIdeals.thy
PosetsR.thy
FiltersAndIdeals.thy
FiltersAgain7.thy
FiltersAgain8.thy
FiltersAgain9.thy
FiltersAgain10.thy
FiltersYetAgain.thy
OrderImplementation.thy
PartialOrders2.thy
FiltersAgain7.thy
FiltersAgain9.thy
FiltersYetAgain.thy
OrderImplementations.thy
PartialOrders3.thy
Top1.thy
Cumulative.thy
PosetsL.thy
Correspondences.thy
PosetsL2.thy
Posets6.thy

GaloisConnections2.thy
FiltersAndIdeals2.thy
Closures2.thy
Relations.thy
OrderedSets.thy
OrderedSets2.thy
Posets12.thy
Posets14.thy
Test.thy
Untitled-1
Untitled.thy
OrdRel3.thy
Fold.thy
Fold2.thy
OrderRel.thy
OrdRel2.thy
Posets17.thy
